
/* LIGHTS */

.neon-circle {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 255, 255, 0.8);
    margin: auto;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-top: 100px;
    border-radius: 50%;
    position: relative;
    transform: translate(-30%, -30%);
    box-shadow: 
      0 0 10px rgba(0, 255, 255, 0.8), 
      0 0 40px rgba(0, 255, 255, 0.6), 
      0 0 80px rgba(0, 255, 255, 0.4);
    animation: flickerBlue 1.5s infinite alternate;
  }

.blue {
  background-color: rgba(0, 255, 255, 0.8);
    box-shadow: 
      0 0 10px rgba(0, 255, 255, 0.8), 
      0 0 40px rgba(0, 255, 255, 0.6), 
      0 0 80px rgba(0, 255, 255, 0.4);
    animation: flickerBlue 1.5s infinite alternate;  
}
  
.circle {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 255, 255, 0.8);
    border-radius: 50%;
}

.red {
    background-color: red;
    box-shadow: 
      0 0 10px rgba(255, 0, 0, 0.8), 
      0 0 40px rgba(255, 0, 0, 0.6), 
      0 0 80px rgba(255, 0, 0, 0.4);
    animation: flickerRed 1.5s infinite alternate;  
}

.yellow {
    background-color: rgb(255, 213, 0);
    box-shadow: 
      0 0 10px rgba(255, 208, 0, 0.8), 
      0 0 40px rgba(255, 204, 0, 0.6), 
      0 0 80px rgba(255, 183, 0, 0.4);
    animation: flickerYellow 1.5s infinite alternate;  
}

.green {
    background-color: rgb(68, 255, 0);
    box-shadow: 
      0 0 10px rgba(0, 255, 8, 0.8), 
      0 0 40px rgba(0, 255, 4, 0.6), 
      0 0 80px rgba(13, 255, 0, 0.4);
    animation: flickerGreen 1.5s infinite alternate;  
}

.purple {
    background-color: rgb(76, 0, 255);
    box-shadow: 
      0 0 10px rgba(149, 111, 254, 0.8), 
      0 0 40px rgba(93, 0, 255, 0.6), 
      0 0 80px rgba(0, 0, 255, 0.4);
    animation: flickerPurple 1.5s infinite alternate;  
}

.pink {
    background-color: rgb(255, 0, 217);
    box-shadow: 
      0 0 10px rgba(242, 0, 255, 0.8), 
      0 0 40px rgba(255, 0, 255, 0.6), 
      0 0 80px rgba(221, 0, 255, 0.4);
    animation: flickerPink 1.5s infinite alternate;  
}

.orange {
    background-color: rgb(255, 115, 0);
    box-shadow: 
      0 0 10px rgba(255, 123, 0, 0.8), 
      0 0 40px rgba(255, 119, 0, 0.6), 
      0 0 80px rgba(255, 115, 0, 0.4);
    animation: flickerOrange 1.5s infinite alternate;  
}

.white {
    background-color: rgb(255, 255, 255);
    box-shadow: 
      0 0 10px rgba(255, 255, 255, 0.8), 
      0 0 40px rgba(255, 255, 255, 0.6), 
      0 0 80px rgba(255, 255, 255, 0.4);
    animation: flickerWhite 1.5s infinite alternate;  
}

  
/* Flickering effect for lights*/
@keyframes flickerBlue {
    0% { box-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 40px rgba(0, 255, 255, 0.6), 0 0 80px rgba(0, 255, 255, 0.4); }
    50% { box-shadow: 0 0 15px rgba(0, 255, 255, 1), 0 0 50px rgba(0, 255, 255, 0.7), 0 0 100px rgba(0, 255, 255, 0.5); }
    100% { box-shadow: 0 0 8px rgba(0, 255, 255, 0.7), 0 0 35px rgba(0, 255, 255, 0.5), 0 0 70px rgba(0, 255, 255, 0.3); }
}

@keyframes flickerRed {
    0% { box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 40px rgba(255, 0, 0, 0.6), 0 0 80px rgba(255, 0, 0, 0.4); }
    50% { box-shadow: 0 0 15px rgb(255, 0, 0), 0 0 50px rgba(255, 0, 0, 0.7), 0 0 100px rgba(255, 0, 0, 0.5); }
    100% { box-shadow: 0 0 8px rgba(255, 0, 0, 0.7), 0 0 35px rgba(255, 0, 0, 0.5), 0 0 70px rgba(255, 0, 0, 0.3); }
}

@keyframes flickerYellow {
    0% { box-shadow: 0 0 10px rgba(255, 187, 0, 0.8), 0 0 40px rgba(255, 174, 0, 0.6), 0 0 80px rgba(255, 187, 0, 0.4); }
    50% { box-shadow: 0 0 15px rgb(255, 170, 0), 0 0 50px rgba(255, 187, 0, 0.7), 0 0 100px rgba(255, 187, 0, 0.5); }
    100% { box-shadow: 0 0 8px rgba(255, 183, 0, 0.7), 0 0 35px rgba(255, 166, 0, 0.5), 0 0 70px rgba(255, 166, 0, 0.3); }
}

@keyframes flickerGreen {
    0% { box-shadow: 0 0 10px rgba(0, 255, 0, 0.8), 0 0 40px rgba(30, 255, 0, 0.6), 0 0 80px rgba(30, 255, 0, 0.4); }
    50% { box-shadow: 0 0 15px rgb(34, 255, 0), 0 0 50px rgba(17, 255, 0, 0.7), 0 0 100px rgba(17, 255, 0, 0.5); }
    100% { box-shadow: 0 0 8px rgba(0, 255, 38, 0.7), 0 0 35px rgba(0, 255, 8, 0.5), 0 0 70px rgba(21, 255, 0, 0.3); }
}
 
@keyframes flickerPurple {
    0% { box-shadow: 0 0 10px rgba(85, 0, 255, 0.8), 0 0 40px rgba(104, 78, 254, 0.6), 0 0 80px rgba(101, 49, 244, 0.4); }
    50% { box-shadow: 0 0 15px rgb(111, 0, 255), 0 0 50px rgba(97, 72, 237, 0.7), 0 0 100px rgba(81, 0, 255, 0.5); }
    100% { box-shadow: 0 0 8px rgba(80, 39, 245, 0.7), 0 0 35px rgba(113, 40, 240, 0.5), 0 0 70px rgba(120, 75, 255, 0.3); }
}

@keyframes flickerPink {
    0% { box-shadow: 0 0 10px rgba(255, 0, 251, 0.8), 0 0 40px rgba(247, 0, 255, 0.6), 0 0 80px rgba(247, 0, 255, 0.4); }
    50% { box-shadow: 0 0 15px rgb(225, 0, 255), 0 0 50px rgba(255, 0, 225, 0.7), 0 0 100px rgba(255, 0, 255, 0.5); }
    100% { box-shadow: 0 0 8px rgba(255, 0, 255, 0.7), 0 0 35px rgba(238, 0, 255, 0.5), 0 0 70px rgba(238, 0, 255, 0.3); }
}

@keyframes flickerOrange {
    0% { box-shadow: 0 0 10px rgba(255, 98, 0, 0.8), 0 0 40px rgba(255, 111, 0, 0.6), 0 0 80px rgba(255, 140, 0, 0.4); }
    50% { box-shadow: 0 0 15px rgb(255, 123, 0), 0 0 50px rgba(255, 123, 0, 0.7), 0 0 100px rgba(255, 123, 0, 0.5); }
    100% { box-shadow: 0 0 8px rgba(255, 119, 0, 0.7), 0 0 35px rgba(255, 119, 0, 0.5), 0 0 70px rgba(255, 106, 0, 0.3); }
}

@keyframes flickerWhite {
    0% { box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.6), 0 0 80px rgba(255, 255, 255, 0.4); }
    50% { box-shadow: 0 0 15px rgb(255, 255, 255), 0 0 50px rgba(253, 253, 253, 0.7), 0 0 100px rgba(255, 255, 255, 0.5); }
    100% { box-shadow: 0 0 8px rgba(255, 255, 255, 0.7), 0 0 35px rgba(255, 255, 255, 0.5), 0 0 70px rgba(255, 255, 255, 0.3); }
}